form.newTask{
  display: flex;
  flex: 1;

  margin-top: -1.68rem; /* -27px */
}


form.newTask input{
  width: 39.875rem; /* 638px */
  height: 3.375rem; /* 54px */

  border-radius: 8px;
  border: 1px solid var(--gray-700);
  outline: 0;
  background: var(--gray-500);
  padding: 1rem; /* 16px */ 
  margin-right: 10px;

  color: var(--gray-300);
  font-size: 1rem; /* 16px */
  line-height: 1.4rem; /* 22.4px */
  transition: 200ms;
}

form.newTask input:focus{
  color: var(--gray-200);
  border: 1px solid var(--purple);
}

form.newTask button.submit{
  width: 5.625rem; /* 90px */
  height: 3.25rem; /* 52px */

  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
  border: 0;
  padding: 1rem; /* 16px */
  background: var(--blue-dark);

  font-weight: 700;
  font-size: 0.875rem; /* 14px */
  line-height: 1.225rem; /* 19.6px */
  color: var(--gray-100);
  transition: 400ms;
}

form.newTask button.submit:disabled {
  opacity: 0.75;
  cursor: not-allowed;
}

form.newTask button.submit:not(:disabled):hover{
  background: var(--blue);
  cursor: pointer;
}

@media (max-width:620px){
  form.newTask{
    width: 100%;
    flex-direction: column;
    gap: 12px;
  }

  form.newTask input{
    width: 100%;
  }

  form.newTask button.submit{
    width: 25%;
  }

}