section.tasks{
  margin-top: 3.5rem; /* 56px */
  width: 100%;
}

section.tasks header{
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  font-size: 0.875rem; /* 14px */
  line-height: 1.06rem; /* 16.9px */
}

section.tasks header div span{
  width: 1.56rem; /* 24.96px */
  height: 1.18rem; /* 18.88px */

  border-radius: 999px;
  padding: 0.125rem 0.5rem; /* 2px 8px */
  margin-left: 0.5rem; /* 8px */
  background: var(--gray-400);

  font-size: 0.75rem; /* 12px */
  line-height: 0.875rem; /* 14px */
  font-weight: 700;

  color: var(--gray-200);
}

section.tasks header div.createdTasks{
  color: var(--blue);
}

section.tasks header div.completedTasks{
  color: var(--purple);
}

section.tasks div.tasksEmpty{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 1.5rem; /* 24px */
  padding: 4rem  1.5rem; /* 64px 24px */
  border-radius: 8px;
  border-top: 1px solid var(--gray-400);

  height: 15.25rem; /* 244px */
  color: var(--gray-300);
}

section.tasks div.tasksEmpty div.texts{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 1.25rem; /* 20px */

  font-size: 1rem; /* 16px */
  line-height: 1.4rem; /* 22.4px */
}

section.tasks ul.tasksList{
  list-style: none;
  margin-top: 24px;
}

section.tasks ul.tasksList li{
  margin-bottom: 12px;
}